################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out.obj
.vs
Debug
Release
x64
*.sln
*.vcxproj
*.filters
*.user
